#ignore DS_Store files
.DS_Store
/.DS_Store

#ignore all .o files
*.o

# For pipex folder
main.out
main
# in_file
# in_file_bonus
output_file
output_file_bonus
pipexs
pipexs.out
output.txt

heredoctemp.txt
output_file

# For pushswap
help/
# pushswap
.DS_Store
settings.json


# For pipex
# pipex_bonus
# pipexb/pipexs/
